body {
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.balls-container {
    display: grid;
    width: 90vw;
    height: 75vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "ball1 ball2 ball3"
     "ball4 ball5 ball6";
    align-items: center;
    margin-inline: auto;
    margin-block-start: 30px;
    gap: 70px;
}

.ball-item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
}

.ball {
    grid-area: ball1;
    background-color: rgb(253, 245, 234);
}

.ball2 {
    grid-area: ball2;
    background-color: rgb(143, 200, 0);
}   

.ball3 {
    grid-area: ball3;
    background-color: rgb(255, 235, 52);
}

.ball4 {
    grid-area: ball4;
    background-color: rgb(136, 123, 255);
}

.ball5 {
    grid-area: ball5;
    background-color: rgb(207, 42, 160);
}

